/* src/styles.css */
.App {
  font-family: sans-serif;
}
section {
  margin-bottom: 24px;
}
textarea {
  font-size: 15px;
}
.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.actions * {
  margin-bottom: 8px;
}
.translation {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.translation button {
  align-self: flex-start;
}
